.paddingBom {
    padding: 0.12rem 0.15rem 0.14rem 0.15rem;
}

.noPaddingBom {
    padding: 0.12rem 0.15rem 0 0.15rem !important;
}

.commentItemTop {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .itemLeft {
        position: relative;
        img {
            width: 0.38rem;
            height: 0.38rem;
            border-radius: 50%;
            margin-right: 0.11rem;
        }
        // .level1 {
        //     letter-spacing: 0.001rem;
        //     font-family: 'Arial-BoldMT';
        //     font-size: 0.08rem;
        //     color: #666;
        //     text-align: center;
        //     line-height: 0.14rem;
        //     font-weight: 800;
        //     position: absolute;
        //     bottom: -0.04rem;
        //     left: -0.06rem;
        //     width: 0.50rem;
        //     height: 0.16rem;
        //     background: url('./../../../../img/junior.png') no-repeat;
        //     background-size: 0.5rem 0.16rem;
        // }
        // .level2 {
        //     letter-spacing: 0.001rem;
        //     font-family: 'Arial-BoldMT';
        //     font-size: 0.08rem;
        //     color: #fff;
        //     text-align: center;
        //     line-height: 0.14rem;
        //     font-weight: 800;
        //     position: absolute;
        //     bottom: -0.04rem;
        //     left: -0.06rem;
        //     width: 0.50rem;
        //     height: 0.16rem;
        //     background: url('./../../../../img/middle.png') no-repeat;
        //     background-size: 0.5rem 0.16rem;
        // }
        // .level3 {
        //     letter-spacing: 0.001rem;
        //     font-family: 'Arial-BoldMT';
        //     font-size: 0.08rem;
        //     color: #fff;
        //     text-align: center;
        //     line-height: 0.14rem;
        //     font-weight: 800;
        //     position: absolute;
        //     bottom: -0.04rem;
        //     left: -0.06rem;
        //     width: 0.50rem;
        //     height: 0.16rem;
        //     background: url('./../../../../img/senior.png') no-repeat;
        //     background-size: 0.5rem 0.16rem;
        // }
    }
    .itemRight {
        width: 100%;
        overflow: hidden;
        .commentRightTop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 0.15rem;
            .left {
                width: 100%;
                .p2 {
                    font-size: 0.11rem;
                    color: #888888;
                }
                .nameBox {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .winningRate{
                        position: relative;
                        margin-right: 0.12rem;
                        width: 0.55rem;
                        // height: 100%;
                        img{
                            width: 0.18rem;
                            height: 0.2rem;
                            z-index: 1;
                        }
                        span{
                            position: absolute;
                            width: 0.44rem;
                            height: 0.2rem;
                            left: 0.1rem;
                            text-align: center;
                            background:rgba(239,239,239,1);
                            border-radius:0px 0.1rem 0.1rem 0px;
                            font-size:0.12rem;
                            font-family:PingFangSC-Medium;
                            font-weight:500;
                            color:rgba(51,51,51,1);
                            line-height:0.2rem;
                        }
                    }
                    // margin-bottom: 0.05rem;
                }
                .nameBox p:nth-child(1) {
                    margin-right: 0.15rem;
                    height:0.21rem;
                    font-size:0.15rem;
                    font-family:PingFangSC-Medium;
                    font-weight:500;
                    color:rgba(51,51,51,1);
                    line-height:0.21rem;
                }
                .support {
                    font-size: 0.1rem;
                    color: #fff;
                    line-height: 0.2rem;
                    padding: 0 0.06rem;
                    background: rgba(67, 138, 255, 0.1);
                    position: relative;
                    border-radius: 3px;
                }
                .triangle {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    top: 50%;
                    transform: translate(0, -50%);
                    left: -5px;
                    border-top: 5px solid transparent;
                    border-right: 5px solid rgba(67, 138, 255, 0.1);
                    border-bottom: 6px solid transparent;
                }
                     
            }
            .right {
                img {
                    width: 0.14rem;
                    height: 0.13rem;
                    margin-right: 0.06rem;
                }
                span.font-unlike {
                    font-size: 0.16rem;
                    color: #5a5a5a;
                }
                .zaned {
                    font-size: 0.16rem;
                    color: #FF6D1A !important;
                }
                .p3 {
                    margin-left: 0.06rem;
                    font-size: 0.13rem;
                    color: #666666;
                }
            }
        }
        .mid {
            margin-top: 0.06rem;
            margin-bottom: 0.14rem;
            color: #141517;
            font-size: 0.15rem;
            color: #141517;
        }
        .bom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}