@import "../../../../../style/delphyConstStyle";

.center{
  width:33.3333%;
}
.notOracle{
  width:100%;
  height:0.46rem;
  margin-top:0.12rem;
  text-align: center;
  font-size:0.12rem;
  .notOraclePage{
    display: inline-block;
    height:0.3rem;
    line-height:0.3rem;
  }
  img{
    width:0.16rem;
    float: left;
    margin-right:0.1rem;
    margin-top:0.06rem;
  }
}
.oracleVal{
  height:0.2rem;
  overflow: hidden;
  font-size:0.13rem;
  line-height:0.2rem;
}
.oracleVal18{
  height:0.24rem;
  overflow: hidden;
  font-size:0.17rem;
  line-height:0.24rem;
}
.centerNum{
  span{
    font-size:@font_size12;
  }
}
.oracle{
  line-height:0.29rem;
  height: 0.3rem;
  overflow: hidden;
  span{
    float: right;
  }
  .circleTwo{
    font-size:0.8rem;
    font-weight:100;
    line-height:0.26rem;
    display: inline-block;
    margin:0.02rem 0.03rem 0;
    color: @bluey_grey;
  }
}

.ongoingMarket{
  border:1px solid #e7e9ed;
}
.fulTopNot{
  margin-top:0 !important;
}
.describe{
  line-height:0.2rem;
  color: @title_black;
}

#oracleInfo {
  padding: 0.06rem 0.16rem 0.06rem;
  border-radius: 3px;
  background: #fafafa;
  margin:0.1rem;
}
