.commentItem {
    padding: 0 0.15rem 0.14rem 0.15rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .report {
        margin-right: 0.25rem;
        font-size: 0.18rem;
        color: #8893a4;
    }
    .zanBox {
        .zanIcon {
            color: #FF6D1A !important;
            font-size: 0.16rem;
        }
        .zanNo {
            color: #8893a4;
            font-size: 0.16rem;
        }
    }
    .itemLeft {
        position: relative;
        img {
            width: 0.36rem;
            height: 0.36rem;
            border-radius: 50%;
            margin-right: 0.11rem;
        }
        .level1 {
            letter-spacing: 0.001rem;
            font-family: 'Arial-BoldMT';
            font-size: 0.08rem;
            color: #666;
            text-align: center;
            line-height: 0.14rem;
            font-weight: 800;
            position: absolute;
            bottom: -0.04rem;
            left: -0.07rem;
            width: 0.50rem;
            height: 0.16rem;
            background: url('./../../../../img/junior.png') no-repeat;
            background-size: 0.5rem 0.16rem;
        }
        .level2 {
            letter-spacing: 0.001rem;
            font-family: 'Arial-BoldMT';
            font-size: 0.08rem;
            color: #fff;
            text-align: center;
            line-height: 0.14rem;
            font-weight: 800;
            position: absolute;
            bottom: -0.04rem;
            left: -0.07rem;
            width: 0.50rem;
            height: 0.16rem;
            background: url('./../../../../img/middle.png') no-repeat;
            background-size: 0.5rem 0.16rem;
        }
        .level3 {
            letter-spacing: 0.001rem;
            font-family: 'Arial-BoldMT';
            font-size: 0.08rem;
            color: #fff;
            text-align: center;
            line-height: 0.14rem;
            font-weight: 800;
            position: absolute;
            bottom: -0.04rem;
            left: -0.07rem;
            width: 0.50rem;
            height: 0.16rem;
            background: url('./../../../../img/senior.png') no-repeat;
            background-size: 0.5rem 0.16rem;
        }
    }
    .itemRight {
        width: 2.99rem;
        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            .left {
                .p2 {
                    font-size: 0.11rem;
                    color: #888888;
                }
                .nameBox {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 0.02rem;
                    font-size: 0.13rem;
                    .p1 {
                        font-size: 0.13rem;
                        color: #444444;
                        margin-right: 0.09rem;
                    }
                    .imgBox {
                        position: relative;
                        img {
                            width: 0.41rem;
                            height: 0.18rem;
                        }
                        .text19 {
                            position: absolute;
                            top: 0.03rem;
                            left: 0.07rem;
                            font-size: 11px;
                            color: #438AFF;
                            text-align: center;
                            white-space: nowrap;
                        }
                    }
                    .p2 {
                        font-size: 0.11rem;
                        color: #888888;
                    }
                }
            }
            .right {
                img {
                    width: 0.1rem;
                    height: 0.125rem;
                    margin-right: 0.06rem;
                }
                span.font-unlike {
                    color: #5a5a5a;
                }
                span.font-like {
                    color: #ffaf52;
                }
                .p3 {
                    margin-left: 0.06rem;
                    font-size: 0.13rem;
                    color: #666666;
                }
            }
        }
        .mid {
            margin-top: 0.06rem;
            margin-bottom: 0.10rem;
            color: #141517;
            font-size: 15px;
            color: #141517;
            .reply {
                // font-family: 'PingFangSC-Regular';
                color: #888888;
                .toName {
                    // font-family: 'PingFangSC-Regular';
                    color: #4389D8;
                }
            }
            .content {
                // font-family: PingFangSC-Regular;
                color: #111111;
            }
            span {
                font-size: 0.14rem
            }
        }
        .bom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .line {
            height: 0.01rem;
            width: 100%;
            background-color: #F1F1F1;
        }
    }
    .itemRightBottom {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        div {
            margin-right: 0.25rem;
            i {
                font-size: 0.16rem;
            }
            span {
                margin-left: 0.05rem;
            }
        }
    }
}