.selectItemBox {
  display: flex;
  flex-direction: row;
  .word {
    box-sizing: border-box;
    margin: 0.22rem 0 0 0.15rem;
    font-size: 13px;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 18px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    background: linear-gradient(135deg, rgba(255, 148, 76, 1) 0%, rgba(255, 110, 74, 1) 100%);
  }
  .selectTop2,
  .selectTop2100 {
    flex: 1;
    padding: 0.18rem 0 0.22rem 0;
    background-color: #fff;

    .endTile {
      .titleText {
        font-size: 0.18rem;
        color: #141517;
        letter-spacing: 0;
        font-weight: 600;
      }
    }
    .topBox,
    .topBox100 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.21rem;
      margin-left: 0.1rem;
      margin-right: 0.15rem;
      button {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: none;
        width: 0.74rem;
        text-align: center;
        line-height: 0.33rem;
        color: #fff;
        border-radius: 0.02rem;
      }
      .light {
        height: 30px;
        border-radius: 17px;
        background-image: linear-gradient(135deg, #ff944c 0%, #ff6e4a 100%);
      }
      .notLight {
        height: 30px;
        background: #aaa;
        border-radius: 17px;
      }
      .holdNums {
        line-height: 25px;
        font-size: 0.14rem;
        color: #141517;
      }
    }
    .topBox100 {
      margin-bottom: 0.11rem;
    }
    .selectTitle {
      line-height: 25px;
      font-size: 0.18rem;
      color: #141517;
      letter-spacing: 0;

      font-weight: 600;
    }

    .selectMid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-left: 0.15rem;
      margin-right: 0.15rem;
      .selectItem {
        width: 0.66rem;
        img {
          width: 0.16rem;
          margin-right: 0.05rem;
        }
      }
      .img11 {
        width: 0.12rem;
        height: 0.12rem;
        margin-right: 0.06rem;
        color: #888888;
      }
      .text12 {
        // font-family: 'PingFangSC-Regular';
        font-size: 14px;
        color: #888888;
      }
    }

  }
  .endStatus {
    height: 0.52rem;
    line-height: 0.52rem;
    background-color: #f9f9f9;
    // margin-top: 0.18rem;
    padding-left: 0.22rem;
    padding-right: 0.15rem;
    .endProfit,
    .endProfitNot {
      .moneyOut {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .orgBtn {
        width: 0.72rem;
        height: 0.3rem;
        border-radius: 0.02rem;
        border: none;
        font-size: 0.13rem;
        color: #ffffff;
      }
      .orgBg {
        background-image: linear-gradient(135deg, #ff944c 0%, #ff6e4a 100%);
      }
      .grayBg {
        background: #dddddd;
      }
    }
    .endProfit p:nth-child(1) {
      background-image: linear-gradient(
        -35deg,
        rgba(11, 123, 238, 0.8) 30%,
        rgba(52, 180, 252, 0.8) 53%
      );
      margin-right: 0.1rem;
      padding: 0 0.05rem;
      text-align: center;
      height: 0.2rem;
      line-height: 0.2rem;
      border-radius: 0.02rem;
      position: relative;
      color: #fff;
      font-size: 0.12rem;
    }
    .endProfit p:nth-child(1):after {
      content: '';
      position: absolute;
      height: 0px;
      width: 0px;
      border-top: 0.04rem solid transparent;
      border-left: 0.05rem solid rgba(11, 123, 238, 0.8);
      border-bottom: 0.04rem solid transparent;
      right: -0.05rem;
      top: 50%;
      transform: translate(0, -50%);
    }
    .endProfitNot p:nth-child(1) {
      background-image: linear-gradient(
        -158deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 70%
      );
      margin-right: 0.1rem;
      padding: 0 0.05rem;
      text-align: center;
      height: 0.2rem;
      line-height: 0.2rem;
      border-radius: 0.02rem;
      position: relative;
      color: #fff;
      font-size: 0.12rem;
    }
    .endProfitNot p:nth-child(1):after {
      content: '';
      position: absolute;
      height: 0px;
      width: 0px;
      border-top: 0.04rem solid transparent;
      border-left: 0.05rem solid rgba(143, 144, 146, 0.3);
      border-bottom: 0.04rem solid transparent;
      right: -0.05rem;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .selectBom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.12rem 0 0.22rem;
    height: 0.52rem;
    background: #f9f9f9;
    box-shadow: inset 0 0 0 0 #f7f7f7;
    span {
      font-size: 0.14rem;
      color: #111111;
    }
  }
}
